<!DOCTYPE HTML>
<html>

<head>

    <link href="/CSS/FE.css" type="text/css" rel="stylesheet">


<style>
     form { display: inline; }
</style>


<script>
function myFunction1() {
    var x = document.getElementById("cutting");
    if (x.style.display === "none") {
      x.style.display = "block";
    } 
    var x1 = document.getElementById("cutting1");
    if (x1.style.display === "none") {
      x1.style.display = "block";
    }

      var a = document.getElementById("sewing");
      a.style.display = "none";
      var a1 = document.getElementById("sewing1");
      a1.style.display = "none";

      var b = document.getElementById("packaging");
      b.style.display = "none";    
      var b1 = document.getElementById("packaging1");
      b1.style.display = "none";  

      var c1 = document.getElementById("accounting");
      c1.style.display = "none";
  } 


  function myFunction2() {
    var x = document.getElementById("sewing");
    if (x.style.display === "none") {
      x.style.display = "block";
    } 
    var x1 = document.getElementById("sewing1");
    if (x1.style.display === "none") {
      x1.style.display = "block";
    } 

    var a = document.getElementById("cutting");
      a.style.display = "none";
      var a1 = document.getElementById("cutting1");
      a1.style.display = "none";

      var b = document.getElementById("packaging");
      b.style.display = "none";
      var b1 = document.getElementById("packaging1");
      b1.style.display = "none";  

      var c = document.getElementById("accounting");
      c.style.display = "none";
  } 
 

  function myFunction3() {
    var x = document.getElementById("packaging");
    if (x.style.display === "none") {
      x.style.display = "block";
    } 
    var x1 = document.getElementById("packaging1");
    if (x1.style.display === "none") {
      x1.style.display = "block";
    } 

    var a = document.getElementById("sewing");
      a.style.display = "none";
      var a1 = document.getElementById("sewing1");
      a1.style.display = "none";

      var b = document.getElementById("cutting");
      b.style.display = "none";   
      var b1 = document.getElementById("cutting1");
      b1.style.display = "none"; 

      var c = document.getElementById("accounting");
      c.style.display = "none";
  } 


  function myFunction4() {
    var x = document.getElementById("accounting");
    if (x.style.display === "none") {
      x.style.display = "block";
    } 

    var a = document.getElementById("sewing");
      a.style.display = "none";
      var a1 = document.getElementById("sewing1");
      a1.style.display = "none";

      var b = document.getElementById("packaging");
      b.style.display = "none";    
      var b1 = document.getElementById("packaging1");
      b1.style.display = "none";    

      var c = document.getElementById("cutting");
      c.style.display = "none";
      var c1 = document.getElementById("cutting1");
      c1.style.display = "none";

  } 
</script>



</head>



    <body>
            <div class="relative">
               <% if (user.Type=='admin') { %>
                  <form action="/admin" method="POST" >
                  <input  name="ID" type="hidden" value= <%=user.ID%>>
                  <input  name="Password" type="hidden" value= <%=user.Password%>>
                  <button class="adminbutton" type="submit">Admin Panel</button>
                  </form>

                  <button class="adminbutton">View Patrons</button>
                  <button onclick="myFunction1()" class="navitem">Cutting</button>
                  <button onclick="myFunction2()" class="navitem">Sewing</button>
                  <button onclick="myFunction3()" class="navitem">Packaging</button>
                  <button onclick="myFunction4()" class="navitem">Accounting</button>
                <% } %>

                
              <% if(user.Type!='admin') { %>
                  <form action="/user" method="POST" >
                      <button class="adminbutton" type="submit">Change Password</button>  
                  </form>
                  
                  <button class="adminbutton">View Patrons</button>
                  <button onclick="myFunction1()" class="navitem">Cutting</button>
                  <button onclick="myFunction2()" class="navitem">Sewing</button>
                  <button onclick="myFunction3()" class="navitem">Packaging</button>
                  <button onclick="myFunction4()" class="navitem">Accounting</button>
              <% } %>


              <div id="cutting1" style="display:none;">
               <button  class="navitem">Add</button>
               <button  class="navitem">Edit</button>
               <button  class="navitem">Delete</button>
              </div>

              <div id="sewing1" style="display:none;">
               <button  class="navitem">Add</button>
               <button  class="navitem">Edit</button>
               <button  class="navitem">Delete</button>
              </div>

              <div id="packaging1" style="display:none;">
               <button  class="navitem">Add</button>
               <button  class="navitem">Edit</button>
               <button  class="navitem">Delete</button>
              </div>
            </div>

            




<div id="cutting" style="display:none;">
   <TABLE class ="table" BORDER="5"    WIDTH="100%"   CELLPADDING="20" CELLSPACING="0">
      <TR>
         <TH class="h1" COLSPAN="5"><BR><H3>Cutting Deparment Orders</H3>
         </TH>
      </TR>
      <TR>
         <TH class="h2">Cutting ID</TH>
         <TH class="h2">Manager ID</TH>
         <TH class="h2">Cost</TH>
         <TH class="h2">Output Quantity</TH>
         <TH class="h2">Order ID</TH>
      </TR>
      <%for (var result in Cutting_Orders){%>
        <tr ALIGN="CENTER">
        <td class="h2"><%=Cutting_Orders[result].cutting_id%></td>
        <td class="h2"><%=Cutting_Orders[result].mgr_id%></td>
        <td class="h2"><%=Cutting_Orders[result].cost%></td>
        <td class="h2"><%=Cutting_Orders[result].output_quantity%></td>
        <td class="h2"><%=Cutting_Orders[result].order_id%></td>  
      </tr>
        <%}%>
   </TABLE>
></div>



<div id="sewing" style="display:none;">
   <TABLE class ="table" BORDER="5"    WIDTH="100%"   CELLPADDING="20" CELLSPACING="0">
      <TR>
         <TH class="h1" COLSPAN="5"><BR><H3>Sewing</H3>
         </TH>
      </TR>
      <TR>
         <TH class="h2">Sewing ID</TH>
         <TH class="h2">Manager ID</TH>
         <TH class="h2">Cost</TH>
         <TH class="h2">Output Quantity</TH>
         <TH class="h2">Order ID</TH>
      </TR>
      <TR ALIGN="CENTER">
         <TD class="h3">Data 1</TD>
         <TD class="h3">Data 2</TD>
         <TD class="h3">Data 1</TD>
         <TD class="h3">Data 2</TD>
         <TD class="h3">Data 1</TD>
      </TR>
      <TR ALIGN="CENTER">
         <TD class="h3">Data 1</TD>
         <TD class="h3">Data 2</TD>
         <TD class="h3">Data 1</TD>
         <TD class="h3">Data 1</TD>
         <TD class="h3">Data 2</TD>
      </TR>
      <TR ALIGN="CENTER">
         <TD class="h3">Data 1</TD>
         <TD class="h3">Data 2</TD>
         <TD class="h3">Data 1</TD>
         <TD class="h3">Data 2</TD>
         <TD class="h3">Data 1</TD>
      </TR>
      <TR ALIGN="CENTER">
         <TD class="h3">Data 1</TD>
         <TD class="h3">Data 2</TD>
         <TD class="h3">Data 1</TD>
         <TD class="h3">Data 2</TD>
         <TD class="h3">Data 1</TD>
      </TR>
   </TABLE>
    
    ></div>



    <div id="packaging" style="display:none;">
      <TABLE class ="table" BORDER="5"    WIDTH="100%"   CELLPADDING="20" CELLSPACING="0">
         <TR>
            <TH class="h1" COLSPAN="6"><BR><H3>Packaging</H3>
            </TH>
         </TR>
         <TR>
            <TH class="h2">Packing ID</TH>
            <TH class="h2">Manager ID</TH>
            <TH class="h2">Cost</TH>
            <TH class="h2">Output Quantity</TH>
            <TH class="h2">Order ID</TH>
            <TH class="h2">Finish Date</TH>
         </TR>
         <TR ALIGN="CENTER">
            <TD class="h3">Data 1</TD>
            <TD class="h3">Data 2</TD>
            <TD class="h3">Data 1</TD>
            <TD class="h3">Data 2</TD>
            <TD class="h3">Data 1</TD>
            <TD class="h3">Data 2</TD>
         </TR>
         <TR ALIGN="CENTER">
            <TD class="h3">Data 1</TD>
            <TD class="h3">Data 2</TD>
            <TD class="h3">Data 1</TD>
            <TD class="h3">Data 2</TD>
            <TD class="h3">Data 1</TD>
            <TD class="h3">Data 2</TD>
         </TR>
         <TR ALIGN="CENTER">
            <TD class="h3">Data 1</TD>
            <TD class="h3">Data 2</TD>
            <TD class="h3">Data 1</TD>
            <TD class="h3">Data 2</TD>
            <TD class="h3">Data 1</TD>
            <TD class="h3">Data 2</TD>
         </TR>
         <TR ALIGN="CENTER">
            <TD class="h3">Data 1</TD>
            <TD class="h3">Data 2</TD>
            <TD class="h3">Data 1</TD>
            <TD class="h3">Data 2</TD>
            <TD class="h3">Data 1</TD>
            <TD class="h3">Data 2</TD>
         </TR>
      </TABLE>
        
        ></div>



        <div id="accounting" style="display:none;">
         <TABLE class ="table" BORDER="5"    WIDTH="100%"   CELLPADDING="20" CELLSPACING="0">
            <TR>
               <TH class="h1" COLSPAN="5"><BR><H3>Accounting</H3>
               </TH>
            </TR>
            <TR>
               <TH class="h2">cutting_id</TH>
               <TH class="h2">mgr_id</TH>
               <TH class="h2">cost</TH>
               <TH class="h2">output_quantity</TH>
               <TH class="h2">order_id</TH>
            </TR>
            <TR ALIGN="CENTER">
               <TD class="h3">Data 1</TD>
               <TD class="h3">Data 2</TD>
               <TD class="h3">Data 1</TD>
               <TD class="h3">Data 2</TD>
               <TD class="h3">Data 1</TD>
            </TR>
            <TR ALIGN="CENTER">
               <TD class="h3">Data 1</TD>
               <TD class="h3">Data 2</TD>
               <TD class="h3">Data 1</TD>
               <TD class="h3">Data 1</TD>
               <TD class="h3">Data 2</TD>
            </TR>
            <TR ALIGN="CENTER">
               <TD class="h3">Data 1</TD>
               <TD class="h3">Data 2</TD>
               <TD class="h3">Data 1</TD>
               <TD class="h3">Data 2</TD>
               <TD class="h3">Data 1</TD>
            </TR>
            <TR ALIGN="CENTER">
               <TD class="h3">Data 1</TD>
               <TD class="h3">Data 2</TD>
               <TD class="h3">Data 1</TD>
               <TD class="h3">Data 2</TD>
               <TD class="h3">Data 1</TD>
            </TR>
         </TABLE>
            
            ></div>



           
    </body>

    
</html>





