<!DOCTYPE HTML>
<html>

<head>

    <link href="/CSS/FE.css" type="text/css" rel="stylesheet">


<style>
     form { display: inline; }
</style>


<script>
function myFunction1() {
    var x = document.getElementById("cutting");
    if (x.style.display === "none") {
      x.style.display = "block";
    } 
    var x1 = document.getElementById("cutting1");
    if (x1.style.display === "none") {
      x1.style.display = "block";
    }

      var a = document.getElementById("sewing");
      a.style.display = "none";
      var a1 = document.getElementById("sewing1");
      a1.style.display = "none";

      var b = document.getElementById("packaging");
      b.style.display = "none";    
      var b1 = document.getElementById("packaging1");
      b1.style.display = "none";  

      var c1 = document.getElementById("accounting");
      c1.style.display = "none";
  } 


  function myFunction2() {
    var x = document.getElementById("sewing");
    if (x.style.display === "none") {
      x.style.display = "block";
    } 
    var x1 = document.getElementById("sewing1");
    if (x1.style.display === "none") {
      x1.style.display = "block";
    } 

    var a = document.getElementById("cutting");
      a.style.display = "none";
      var a1 = document.getElementById("cutting1");
      a1.style.display = "none";

      var b = document.getElementById("packaging");
      b.style.display = "none";
      var b1 = document.getElementById("packaging1");
      b1.style.display = "none";  

      var c = document.getElementById("accounting");
      c.style.display = "none";
  } 
 

  function myFunction3() {
    var x = document.getElementById("packaging");
    if (x.style.display === "none") {
      x.style.display = "block";
    } 
    var x1 = document.getElementById("packaging1");
    if (x1.style.display === "none") {
      x1.style.display = "block";
    } 

    var a = document.getElementById("sewing");
      a.style.display = "none";
      var a1 = document.getElementById("sewing1");
      a1.style.display = "none";

      var b = document.getElementById("cutting");
      b.style.display = "none";   
      var b1 = document.getElementById("cutting1");
      b1.style.display = "none"; 

      var c = document.getElementById("accounting");
      c.style.display = "none";
  } 


  function myFunction4() {
    var x = document.getElementById("accounting");
    if (x.style.display === "none") {
      x.style.display = "block";
    } 

    var a = document.getElementById("sewing");
      a.style.display = "none";
      var a1 = document.getElementById("sewing1");
      a1.style.display = "none";

      var b = document.getElementById("packaging");
      b.style.display = "none";    
      var b1 = document.getElementById("packaging1");
      b1.style.display = "none";    

      var c = document.getElementById("cutting");
      c.style.display = "none";
      var c1 = document.getElementById("cutting1");
      c1.style.display = "none";

  } 
</script>



</head>


    <body>
            <div class="relative">
               <% if (user.Type=='admin') { %>
                  <form action="/admin" method="POST" >
                  <input  name="ID" type="hidden" value= <%=user.ID%>>
                  <input  name="Password" type="hidden" value= <%=user.Password%>>
                  <button class="adminbutton" type="submit">Admin Panel</button>
                  </form>
                  <form action="/patron" method="POST" >
                    <input  name="ID" type="hidden" value= <%=user.ID%>>
                    <input  name="Password" type="hidden" value= <%=user.Password%>>
                  <button class="adminbutton" type="submit">View Patrons</button>
                  </form>    
                  <form action="/cloth" method="POST" >
                    <input  name="ID" type="hidden" value= <%=user.ID%>>
                    <input  name="Password" type="hidden" value= <%=user.Password%>>
                  <button class="adminbutton" type="submit">View Cloth</button>
                  </form>               

                  <button onclick="myFunction1()" class="navitem">Cutting</button>
                  <button onclick="myFunction2()" class="navitem">Sewing</button>
                  <button onclick="myFunction3()" class="navitem">Packaging</button>
                  <button onclick="myFunction4()" class="navitem">Accounting</button>
                <% } %>

                
              <% if(user.Type!='admin') { %>
                  <form action="/user" method="POST" >
                  <button class="adminbutton" type="submit">Change Password</button>  
                  </form>
                  <form action="/patron" method="POST" >
                    <input  name="ID" type="hidden" value= <%=user.ID%>>
                    <input  name="Password" type="hidden" value= <%=user.Password%>>
                  <button class="adminbutton" type="submit">View Patrons</button>
                  </form>
                  <form action="/cloth" method="POST" >
                    <input  name="ID" type="hidden" value= <%=user.ID%>>
                    <input  name="Password" type="hidden" value= <%=user.Password%>>
                  <button class="adminbutton" type="submit">View Cloth</button>
                  </form>        
                  
                  <button onclick="myFunction1()" class="navitem">Cutting</button>
                  <button onclick="myFunction2()" class="navitem">Sewing</button>
                  <button onclick="myFunction3()" class="navitem">Packaging</button>
                  <button onclick="myFunction4()" class="navitem">Accounting</button>
              <% } %>


              <div id="cutting1" style="display:none;">
               <button  onclick="document.getElementById('id01').style.display='block'" class="navitem">Add</button>
               <button  class="navitem">Edit</button>
               <button  class="navitem">Delete</button>
              </div>

              <div id="sewing1" style="display:none;">
               <button  onclick="document.getElementById('id02').style.display='block'" class="navitem">Add</button>
               <button  class="navitem">Edit</button>
               <button  class="navitem">Delete</button>
              </div>

              <div id="packaging1" style="display:none;">
               <button  onclick="document.getElementById('id03').style.display='block'" class="navitem">Add</button>
               <button  class="navitem">Edit</button>
               <button  class="navitem">Delete</button>
              </div>
            </div>

            <div id="id01" class="modal">
               <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
               <form class="modal-content" action="/AddUser" method="POST" >
                 <div class="container">
                   <h1>Add New Cutting Order</h1>
                   <p>Please fill in this form to create an Order.</p>
                   <hr>
                   <label for="managerid"><b>Manager ID</b></label> <br>
                   <select class= "Allinput" name="Department" placeholder="Enter Department" name="managerid" required>
                    <option value="1">Enter Manager ID</option>
                    <%for (var result in Managers_List){%>
                      <option><%=Managers_List[result].ID%></option>
                      <%}%>  
                  </select><br>

                   <label for="cost"><b>Cost</b></label>
                   <input class= "Allinput" type="text" placeholder="Enter Cost" name="cost"  required>
             
                   <label for="outputquantity"><b>Output Quantity</b></label>
                   <input class= "Allinput" type="text" placeholder="Enter Output Quantity" name="outputquantity"  required>
                   
                   <label for="orderid"><b>Order ID</b></label>
                   <input class= "Allinput" type="text" placeholder="Enter order ID" name="orderid"  required>

                                      
                   <label for="patronid"><b>Patron ID</b></label>
                   <br>
                   <select class= "Allinput" name="Department" placeholder="Enter Department" name="managerid" required>
                    <option value="1">Enter Patron ID</option>
                    <%for (var result in Patrons_List){%>
                      <option><%=Patrons_List[result].patron_ID%></option>
                      <%}%>  
                  </select><br>
                                      
                   <label for="clothid"><b>Cloth ID</b></label>
                   <br>
                   <select class= "Allinput" name="Department" placeholder="Enter Department" name="managerid" required>
                    <option value="1">Enter Cloth ID</option>
                    <%for (var result in Cloth_List){%>
                      <option><%=Cloth_List[result].cloth_ID%></option>
                      <%}%>  
                  </select><br>
                   <div class="clearfix">
                     <button class="Allbutton" type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                     <button class="Allbutton" type="submit" class="signupbtn">Enter</button>
                   </div>
           
                 </div>
               </form>
             </div>

             <div id="id02" class="modal">
               <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
               <form class="modal-content" action="/AddUser" method="POST">
                 <div class="container">
                   <h1>Add New Sewing Order</h1>
                   <p>Please fill in this form to create an Order.</p>
                   <hr>
                   <label for="managerid"><b>Manager ID</b></label>
                   <input class= "Allinput" type="text" placeholder="Enter Manager ID" name="managerid" required>
           
                   <label for="cost"><b>Cost</b></label>
                   <input class= "Allinput" type="text" placeholder="Enter Cost" name="cost"  required>
             
                   <label for="outputquantity"><b>Output Quantity</b></label>
                   <input class= "Allinput" type="text" placeholder="Enter Output Quantity" name="outputquantity"  required>
                   
                   <label for="orderid"><b>Order ID</b></label>
                   <input class= "Allinput" type="text" placeholder="Enter order ID" name="orderid"  required>

                   <label for="patronid"><b>Patron ID</b></label>
                   <input class= "Allinput" type="text" placeholder="Enter Patron ID" name="patronid"  required>

                                      
                   <label for="clothid"><b>Cloth ID</b></label>
                   <input class= "Allinput" type="text" placeholder="Enter Cloth ID" name="clothid"  required>

                   <div class="clearfix">
                     <button class="Allbutton" type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
                     <button class="Allbutton" type="submit" class="signupbtn">Enter</button>
                   </div>
                 </div>
               </form>
             </div>


             <div id="id03" class="modal">
               <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
               <form class="modal-content" action="/AddUser" method="POST" >
                 <div class="container">
                   <h1>Add New Packaging Order</h1>
                   <p>Please fill in this form to create an Order.</p>
                   <hr>
                   <label for="managerid"><b>Manager ID</b></label>
                   <input class= "Allinput" type="text" placeholder="Enter Manager ID" name="managerid" required>
           
                   <label for="cost"><b>Cost</b></label>
                   <input class= "Allinput" type="text" placeholder="Enter Cost" name="cost"  required>
             
                   <label for="outputquantity"><b>Output Quantity</b></label>
                   <input class= "Allinput" type="text" placeholder="Enter Output Quantity" name="outputquantity"  required>
                   
                   <label for="orderid"><b>Order ID</b></label>
                   <input class= "Allinput" type="text" placeholder="Enter order ID" name="orderid"  required>

                   <label for="patronid"><b>Patron ID</b></label>
                   <input class= "Allinput" type="text" placeholder="Enter Patron ID" name="patronid"  required>
           
                   <label for="clothid"><b>Cloth ID</b></label>
                   <input class= "Allinput" type="text" placeholder="Enter Cloth ID" name="clothid"  required>

                   <div class="clearfix">
                     <button class="Allbutton" type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn">Cancel</button>
                     <button class="Allbutton" type="submit" class="signupbtn">Enter</button>
                   </div>
                 </div>
               </form>
             </div>

<div id="cutting" style="display:none;">
   <TABLE class ="table" BORDER="5"    WIDTH="100%"   CELLPADDING="20" CELLSPACING="0">
      <TR>
         <TH class="h1" COLSPAN="8"><BR><H3>Cutting Department Orders</H3>
         </TH>
      </TR>
      <TR>
         <TH class="h2">Cutting ID</TH>
         <TH class="h2">Manager ID</TH>
         <TH class="h2">Cutting Cost</TH>
         <TH class="h2">Output Quantity</TH>
         <TH class="h2">Order ID</TH>
         <TH class="h2">Patron ID</TH>
         <TH class="h2">Cloth ID</TH>
         <TH class="h2">Total Cost</TH>
      </TR>
      <%for (var result in Cutting_Orders){%>
        <tr ALIGN="CENTER">
        <td class="h2"><%=Cutting_Orders[result].cutting_id%></td>
        <td class="h2"><%=Cutting_Orders[result].mgr_id%></td>
        <td class="h2"><%=Cutting_Orders[result].cost%></td>
        <td class="h2"><%=Cutting_Orders[result].output_quantity%></td>
        <td class="h2"><%=Cutting_Orders[result].order_id%></td>  
        <td class="h2"><%=Cutting_Orders[result].patron_id%></td>  
        <td class="h2"><%=Cutting_Orders[result].cloth_id%></td>
        <td class="h2"><%=Cutting_Orders[result].order_cost%></td>  
      </tr>
        <%}%>
   </TABLE>
></div>



<div id="sewing" style="display:none;">
   <TABLE class ="table" BORDER="5"    WIDTH="100%"   CELLPADDING="20" CELLSPACING="0">
      <TR>
         <TH class="h1" COLSPAN="9"><BR><H3>Sewing Department Orders</H3>
         </TH>
      </TR>
      <TR>
         <TH class="h2">Sewing ID</TH>
         <TH class="h2">Manager ID</TH>
         <TH class="h2">Sewing Cost</TH>
         <TH class="h2">Output Quantity</TH>
         <TH class="h2">Order ID</TH>
         <TH class="h2">Patron ID</TH>
         <TH class="h2">Cloth ID</TH>
         <TH class="h2">Cutting ID</TH>
         <TH class="h2">Total Cost</TH>
      </TR>
   </TR>
   <%for (var result in Sewing_Orders){%>
     <tr ALIGN="CENTER">
     <td class="h2"><%=Sewing_Orders[result].sewing_id%></td>
     <td class="h2"><%=Sewing_Orders[result].mgr_id%></td>
     <td class="h2"><%=Sewing_Orders[result].cost%></td>
     <td class="h2"><%=Sewing_Orders[result].output_quantity%></td>
     <td class="h2"><%=Sewing_Orders[result].order_id%></td>   
     <td class="h2"><%=Sewing_Orders[result].patron_id%></td>  
     <td class="h2"><%=Sewing_Orders[result].cloth_id%></td>
     <td class="h2"><%=Sewing_Orders[result].cutting_id%></td>
     <td class="h2"><%=Sewing_Orders[result].order_cost%></td>  
   </tr>
     <%}%>
     
   </TABLE>
    
    ></div>



    <div id="packaging" style="display:none;">
      <TABLE class ="table" BORDER="5"    WIDTH="100%"   CELLPADDING="20" CELLSPACING="0">
         <TR>
            <TH class="h1" COLSPAN="10"><BR><H3>Packaging Department Orders</H3>
            </TH>
         </TR>
         <TR>
            <TH class="h2">Packing ID</TH>
            <TH class="h2">Manager ID</TH>
            <TH class="h2">Packing Cost</TH>
            <TH class="h2">Output Quantity</TH>
            <TH class="h2">Order ID</TH>
            <TH class="h2">Patron ID</TH>
            <TH class="h2">Cloth ID</TH>
            <TH class="h2">Cutting ID</TH>
            <TH class="h2">Sewing ID</TH>
             <TH class="h2">Total Cost</TH>
         </TR>
         <%for (var result in Packing_Orders){%>
            <tr ALIGN="CENTER">
            <td class="h2"><%=Packing_Orders[result].packing_id%></td>
            <td class="h2"><%=Packing_Orders[result].mgr_id%></td>
            <td class="h2"><%=Packing_Orders[result].cost%></td>
            <td class="h2"><%=Packing_Orders[result].output_quantity%></td>
            <td class="h2"><%=Packing_Orders[result].order_id%></td>  
            <td class="h2"><%=Packing_Orders[result].patron_id%></td>
            <td class="h2"><%=Packing_Orders[result].cloth_id%></td>
            <td class="h2"><%=Packing_Orders[result].cutting_id%></td>
            <td class="h2"><%=Packing_Orders[result].sewing_id%></td>
            <td class="h2"><%=Packing_Orders[result].order_cost%></td>
          </tr>
            <%}%>
         
      </TABLE>
        
        ></div>



        <div id="accounting" style="display:none;">
         <TABLE class ="table" BORDER="5"    WIDTH="100%"   CELLPADDING="20" CELLSPACING="0">
            <TR>
               <TH class="h1" COLSPAN="9"><BR><H3>Accounting</H3>
               </TH>
            </TR>
            <TR>
               <TH class="h2">Order ID</TH>
               <TH class="h2">Patron ID</TH>
               <TH class="h2">Cloth ID</TH>
               <TH class="h2">Start Date</TH>
               <TH class="h2">Duration</TH>
               <TH class="h2">Cutting ID</TH>
               <TH class="h2">Sewing ID</TH>
               <TH class="h2">Packing ID</TH>
               <TH class="h2">Total Cost</TH>
            </TR>
            <%for (var result in Orders_List){%>
               <tr ALIGN="CENTER">
               <td class="h2"><%=Orders_List[result].order_id%></td>
               <td class="h2"><%=Orders_List[result].patron_id%></td>
               <td class="h2"><%=Orders_List[result].cloth_id%></td>
               <td class="h2"><%=Orders_List[result].start_date%></td>
               <td class="h2"><%=Orders_List[result].duration%></td>  
               <td class="h2"><%=Orders_List[result].cutting_id%></td>
               <td class="h2"><%=Orders_List[result].sewing_id%></td>
               <td class="h2"><%=Orders_List[result].packing_id%></td>
               <td class="h2"><%=Orders_List[result].order_cost%></td>
             </tr>
               <%}%>
         </TABLE>
            
            ></div>



           
    </body>

    
</html>





